{% extends "base.html" %}

{% block content %}
<div class="main-container home-centered-logo">
    <div class="logo-home-center">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="TorneOtto Logo" style="display: block; margin: 0 auto; max-width: 220px; width: 100%; height: auto;">
    </div>
    <div class="action-grid">
        <a href="{{ url_for('players.new_player') }}" class="grid-item">
            <i class="fas fa-user-plus"></i>
            <span>Inserisci<br>Giocatori</span>
        </a>
        <a href="{{ url_for('players.players_list') }}" class="grid-item">
            <i class="fas fa-address-book"></i>
            <span>Gestisci<br>Giocatori</span>
        </a>
        <a href="/tornei" class="grid-item">
            <i class="fas fa-trophy"></i>
            <span>Gestione<br>Tornei</span>
        </a>
        <a href="/classifiche" class="grid-item">
            <i class="fas fa-list-ol"></i>
            <span>Classifiche</span>
        </a>
        <a href="/esporta" class="grid-item">
            <i class="fas fa-file-pdf"></i>
            <span>Esporta<br>PDF</span>
        </a>
    </div>
</div>
<style>
.home-centered-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 70vh;
    margin-top: 0;
    padding-top: 0 !important;
}
.logo-home-center {
    margin: 0 0 30px 0;
    text-align: center;
}
</style>
{% endblock %} 